<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<addon id="repository.alfredbridge" name="Alfred Bridge Repository" version="1.0.2" provider-name="alfredjbclaw">
    <extension point="xbmc.addon.repository" name="Alfred Bridge Repository">
        <dir>
            <info compressed="false">{{REPO_URL}}/addons.xml</info>
            <checksum>{{REPO_URL}}/addons.xml.md5</checksum>
            <datadir zip="true">{{REPO_URL}}/</datadir>
        </dir>
    </extension>
    <extension point="xbmc.addon.metadata">
        <summary lang="en">Alfred Bridge Repository</summary>
        <description lang="en">Repository for the Alfred Bridge Kodi addon.</description>
        <platform>all</platform>
    </extension>
</addon>
